*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    body {
      background-image: url('background-mobile.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
